title{
  text-shadow: 3px 2px yellow;
}
body {
  text-align: center;
  font-family: monospace;
  background:url(./index.jpg)  no-repeat center center;
  background-size:cover;
}
h1{
  font-size:  40px;
  color:black
}
h2{
  font-size: 30px;
  color:black
}
h3{
  font-size:  30px;
  color:black
}
p{
  font-size:  25px;
  color:red
}
  img {
  border: 3px solid white;
  border-radius: 2px;
  padding: 5px;
  width: 400px;
  height: 300px;
}

  
